{{>layout/header}}

<body>
<nav>
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <a class="navbar-brand" href="/">
                    <img src="/img/logo.png" alt="" width="40" height="30" class="d-inline-block align-text-top">
                    GFB
                </a>
            </div>

            <div class="col-md-3">
            </div>


            <div class="col-md-8">
                <ul class=" text-light nav justify-content-end" >

                    {{#isLogin}}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{loginId}}님 환영합니다.</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">로그아웃</a>
                        </li>
                    {{/isLogin}}

                    {{#isLogout}}
                        <li class="nav-item">
                            <a class="nav-link" href="/member/log-in">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/member/create">회원가입</a>
                        </li>
                    {{/isLogout}}

                    <li class="nav-item">
                        <a class="nav-link" href="/member/my-info">내 정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">장바구니</a>
                    </li>

                    {{#isManager}}
                        <li class="nav-item">
                            <a class="nav-link" href="/manager">관리자 페이지</a>
                        </li>
                    {{/isManager}}

                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <h2>장바구니</h2>
    <br>
    <div class="row">
        {{#cartItems}}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{imgUrl}}" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <input type="hidden" value={{productId}}>
                        <h5 class="card-title">{{title}}</h5>
                        <p class="card-text">Price: {{price}}</p>
                        <p class="card-text">Quantity: <span id="quantity-{{productId}}">{{quantity}}</span></p>
                        <div class="quantity-controls">
                            <button class="btn btn-sm btn-secondary" onclick="decreaseQuantity({{productId}})">-</button>
                            <button class="btn btn-sm btn-secondary" onclick="increaseQuantity({{productId}})">+</button>
                        </div>
                    </div>
                </div>
            </div>
        {{/cartItems}}
    </div>

    <div class="text-right">
        <button id="btn-payment" class="btn btn-primary">결제하기</button>
    </div>

    <input type="hidden" id= "memberId" value={{memberId}}>
</div>

</body>
{{>layout/footer}}
