{{>layout/header}}

<body>
<div class="container text-center">

    <div class="mb-5 text-center">
        <h2>관리자 페이지</h2>
    </div>
<div class="row">
    <div class="col-6"><a href="/manager-member" type="button" class="btn btn-primary btn-lg mx">회원 관리</a></div>
    <div class="col-6"><a href="/manager-post" type="button" class="btn btn-primary btn-lg mx">게시글 관리</a></div>

</div>
</div>
</body>

{{>layout/footer}}